* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* standard classes */
.hidden{
    display: none;
}

.sticky{
    position: fixed;
    width: 100%;
}

.top{
    top: 0;
    background-color: aqua;
}

main {
    padding-top: 110px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 50px;
}

.bottom{
    bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

.flashes{
    top: 90px;
    text-align: center;
    background-color: pink;
}

/* nav bar */
.desk-nav-bar{
    display: none;
}

.mobile-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 16px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#burger-btn{
    height: 60px;
    width: 60px;
}

.burger {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: gray;
    margin-bottom: 5px;
}

.burger ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.burger li {
    margin: 5px;
}

.burger ul li a {
    color: white;
    font-size: 25px;
}

/* footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 16px;
    background-color: fuchsia;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  

    main {
        padding-top: 80px;
    }
    
    .mobile-nav-bar{
        display: none;
    }

    /* nav bar */

    .desk-nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 16px;
    }
    
    .desktop-nav ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    
    .desktop-nav li{
        padding: 10px;
        border: solid 1px black;
        border-radius: 5px;
        margin: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

}