* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
	word-break: break-word;
}

/* ---------- Colours ---------- */
/* CSS HEX */
:root {
	--background2: #132242;
	--background: #284B8F;
	--blue: #43afff;
	--green: #74ffe1;
	--orange: #ff8a76;
	--light-text: #f4f4fb;
	--dark-text: #132242;
	--task: #A3E278;
	--done-task: #509720;
	/* colours for svg's */
	/* hex #ff5333 */
	--exclamation: invert(47%) sepia(43%) saturate(5859%) hue-rotate(341deg) brightness(106%) contrast(102%);
	/* hex #f4f4fb */
	--invert: invert(91%) sepia(33%) saturate(83%) hue-rotate(195deg) brightness(101%) contrast(97%);
}

/* ---------- Standard Classes ---------- */
body{
	background-color: var(--background2);
}

.container {
	display: flex;
	width: 100%;
}

h1, h2, h3, h4 {
	color: var(--light-text);
}

h2 {
	padding-bottom: 5px;
}

.col {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sticky {
	display: block;
	position: fixed;
	z-index: 10;
	width: 100%;
}

.top {
	top: 0;
	background-color: var(--background);
}

#main {
	margin: 57px 0px 90px 0px;
	background-color: var(--background2);
	min-height: calc(100vh - (57px + 90px));
	border-top: solid 1px var(--background2);
	border-bottom: solid 1px var(--background2);
}

#main.no-user {
	margin: 57px 0px 0px 0px;
}

.bottom {
	bottom: 0;
}

a {
	text-decoration: none;
	color: var(--dark-text);
}

.no-pointer {
	pointer-events: none;
}

.flashes {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 5px 0px;
}

.header{
	padding: 10px 16px;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

/* Hamburger - code credited to jonsuh */

/* ---------- Hamburgers ---------- */
/* @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
	padding: 15px 15px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
}
.hamburger:hover {
	opacity: 0.7;
}
.hamburger.is-active:hover {
	opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #000;
}

.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 40px;
	height: 4px;
	background-color: var(--light-text);
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
	content: '';
	display: block;
}
.hamburger-inner::before {
	top: -10px;
}
.hamburger-inner::after {
	bottom: -10px;
}

/* Vortex */
.hamburger--vortex .hamburger-inner {
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex .hamburger-inner::before,
.hamburger--vortex .hamburger-inner::after {
	transition-duration: 0s;
	transition-delay: 0.1s;
	transition-timing-function: linear;
}
.hamburger--vortex .hamburger-inner::before {
	transition-property: top, opacity;
}
.hamburger--vortex .hamburger-inner::after {
	transition-property: bottom, transform;
}

.hamburger--vortex.is-active .hamburger-inner {
	transform: rotate(765deg);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex.is-active .hamburger-inner::before,
.hamburger--vortex.is-active .hamburger-inner::after {
	transition-delay: 0s;
}
.hamburger--vortex.is-active .hamburger-inner::before {
	top: 0;
	opacity: 0;
}
.hamburger--vortex.is-active .hamburger-inner::after {
	bottom: 0;
	transform: rotate(90deg);
}

/* Vortex Reverse */
.hamburger--vortex-r .hamburger-inner {
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex-r .hamburger-inner::before,
.hamburger--vortex-r .hamburger-inner::after {
	transition-duration: 0s;
	transition-delay: 0.1s;
	transition-timing-function: linear;
}
.hamburger--vortex-r .hamburger-inner::before {
	transition-property: top, opacity;
}
.hamburger--vortex-r .hamburger-inner::after {
	transition-property: bottom, transform;
}

.hamburger--vortex-r.is-active .hamburger-inner {
	transform: rotate(-765deg);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex-r.is-active .hamburger-inner::before,
.hamburger--vortex-r.is-active .hamburger-inner::after {
	transition-delay: 0s;
}
.hamburger--vortex-r.is-active .hamburger-inner::before {
	top: 0;
	opacity: 0;
}
.hamburger--vortex-r.is-active .hamburger-inner::after {
	bottom: 0;
	transform: rotate(-90deg);
}

/* ---------- Mobile Nav Bar ---------- */
h1 a {
	color: var(--light-text);
}

.desk-nav-bar {
	display: none;
}

.mobile-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 16px;
}

#burger-btn {
	display: flex;
    justify-content: center;
    align-items: center;
}

.burger ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0px 0px 10px 16px;
	margin: 0px;
}

.burger li {
	margin: 5px;
}

.burger ul li a {
	color: var(--light-text);
	font-size: 25px;
}

/* ----------  Home page not logged in ---------- */

.cta {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: var(--light-text);
}

.cta h2, .cta h3, .cta-text {
	text-align: center;
	padding: 15px;
}

.cta-text{
	padding: 15px 30px;
}

.largecta{
	height: 70vh;
}

.smallcta {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 50vh;
}

.cta-btn{
	background-color: var(--light-text);
	margin: 15px;
}

.large-screen {
	display: none;
}

/* ---------- Task Card ---------- */
.task {
	width: 100%;
	height: inherit;
}

.task-card {
	list-style: none;
	width: 96%;
	padding: 0px 7px;
	background-color: var(--task);
	color: var(--dark-text);
	margin: 2%;
}

.task-card.done {
	background-color: var(--done-task);
}

.task-card.open .task-body {
	display: flex;
	padding-left: 3px;
	padding-right: 5px;
	transition: height 500ms;
	-webkit-transition: height 500ms;
	-moz-transition: height 500ms;
	-ms-transition: height 500ms;
	-o-transition: height 500ms;
}

.js-shave{
	display: none;
}

.task-card.open .js-shave {
	display: inline;
}

.task-card.open .js-shave-char {
	display: none;
}

.task-card.open .arrow, .section.open .section-arrow {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transition: transform 500ms;
	-webkit-transition: transform 500ms;
	-moz-transition: transform 500ms;
	-ms-transition: transform 500ms;
	-o-transition: transform 500ms;
}

.arrow, .section-arrow {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transition: transform 500ms;
	-webkit-transition: transform 500ms;
	-moz-transition: transform 500ms;
	-ms-transition: transform 500ms;
	-o-transition: transform 500ms;
}

.small {
	border-left: 7px solid var(--green);
}

.medium {
	border-left: 7px solid var(--orange);
}

.large {
	border-left: 7px solid var(--blue);
}

/* Task Card Header */

.task-header {
	justify-content: space-between;
	padding: 5px 0px;
	align-items: flex-start;
}

.done .task-header {
	text-decoration: line-through;
}

.done-box, .buttons{
	padding-top: 2px;
}

.exclamation{
	filter: var(--exclamation);
	-webkit-filter: var(--exclamation);
}

.check-box {
	display: flex;
    justify-content: center;
    align-items: center;
}

.task-header-internal {
	justify-content: space-between;
	width: 100%;
	align-items: flex-start;
}

.task-name {
	padding: 0px 10px;
	line-height: 30px;
}

.buttons {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	min-width: 25px;
}

.fa-exclamation-circle {
	margin: 0px 10px;
	font-size: large;
}

/* Task Card Body */

.task-body {
	height: 0px;
	justify-content: space-between;
	overflow: hidden;
	transition: height 300ms;
	-webkit-transition: height 300ms;
	-moz-transition: height 300ms;
	-ms-transition: height 300ms;
	-o-transition: height 300ms;
}

.description {
	width: 100%;
	padding: 10px 0px;
}

/* Information row of task description */

.info {
	justify-content: space-between;
	padding: 0px 0px;
}

.due-date {
	text-align-last: right;
}

.category {
	display: flex;
	justify-content: center;
	align-items: center;
}

.priority{
	min-width: 80px;
}

.priority-text{
	padding-left: 5px;
}

/* Task size */

.task-size {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
	width: 60px;
	border: #000 1px solid;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

.s-text {
	font-size: small;
	font-weight: 200;
	letter-spacing: 0.8px;
	line-height: 16px;
}

.m-text {
	font-size: normal;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 16px;
}

.l-text {
	font-size: large;
	font-weight: 800;
	letter-spacing: 1.2px;
	line-height: 16px;
}

/* Task Buttons */

.task-buttons {
	display: flex;
	width: 100px;
	justify-content: flex-end;
}

.delete, .edit{
	padding: 5px;
}

/* ---------- Account ---------- */
.section {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.section-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding: 0px 16px;
}

.section-arrow {
	filter: var(--invert);
	-webkit-filter: var(--invert);
}

.section-content {
	width: 100%;
	height: 0px;
	overflow: hidden;
	transition: height 500ms;
	-webkit-transition: height 500ms;
	-moz-transition: height 500ms;
	-ms-transition: height 500ms;
	-o-transition: height 500ms;
	background-color: var(--background);
}

.section.open .section-content{
	display: flex;
	border-bottom: solid 5px var(--background);
	overflow: scroll;
	transition: height 500ms;
	-webkit-transition: height 500ms;
	-moz-transition: height 500ms;
	-ms-transition: height 500ms;
	-o-transition: height 500ms;
}

.all-cats {
	display: flex;
	width: 100%;
	height: inherit;
	flex-direction: column;
}

.cat-card {
    display: flex;
    align-items: center;
	justify-content: space-between;
    width: 96%;
    padding: 0px 7px;
    color: var(--dark-text);
    margin: 2%;
    background-color: var(--light-text);
}

.card-title {
	display: flex;
	padding: 5px;
}

.card-action {
	display: flex;
	padding: 0px 10px;
}

/* ---------- Contact ---------- */
.contact-title{
	text-align: left;
}

.contact-text{
	padding: 0px 16px 10px;
	color: var(--light-text);
	text-align: center;
}

/* ---------- forms ---------- */
.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
}

.form {
	width: 90%;
	max-width: 700px;
	color: var(--light-text);
}

.form-field {
	display: flex;
	flex-direction: column;
	padding: 5px 0px;
}

.inline {
	flex-direction: row;
	justify-content: space-between;
}

.form-control {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 50%;
}

.control {
	width: 100%;
	padding: 5px;
}

.form-label {
	padding: 0.25rem 0px;
}

.register-form .form-label {
	width: 100px;
}

.select-size {
	display: flex;
	justify-content: space-around;
	padding: 5px;
	width: 100%;
}

.add-cat {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	font-size: small;
	padding-right: 1.25rem;
	color: var(--light-text);
}

.submit-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

input#submit_button, #send, input#cancel_button{
	min-width: 50px;
	padding: 5px;
	color: var(--dark-text);
	background-color: var(--light-text);
}

input#is_priority{
	height: 20px;
}

input#is_done{
	height: 20px;
}

input#task_size-0, input#task_size-1, input#task_size-2 {
	width: 15px;
	height: 15px;
}


/* remove lists */
.no-list {
	list-style-type: none;
}

/* ---------- modal ---------- */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal */
/* modal background */
.modal-background {
	position: fixed;
	z-index: 1;
	padding-top: 150px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

/* modal content */
.modal {
	background-color: var(--light-text);
	margin: auto;
	padding: 20px;
	border-radius: 20px;
	width: 80%;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.modal-title {
	margin: 5px;
}

.modal h2 {
	color: var(--background2);
	padding: 0px;
	line-height: 32px;
}

.modal-par {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 5px;
	color: var(--background2);
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/* modal buttons */

.modal-btns {
	display: flex;
	justify-content: center;
	align-items: center;
}

.m-btn {
	width: 100px;
}

/* ---------- footer ---------- */

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--background);
}

.add-task-btn {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: solid 2px var(--background);
}

.add {
	filter: var(--invert);
	-webkit-filter: var(--invert);
}

.add-task-words {
	display: flex;
	justify-content: center;
	color: var(--light-text);
	font-size: x-small;
}

/* ---------- Progress Bar ---------- */
.progress-bar-container {
	padding: 10px;
}

#progress-bar {
	display: flex;
	width: 100%;
	height: 30px;
	border-radius: 7px;
	background-color: var(--light-text);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}

#progress {
	line-height: 30px;
	background-color: var(--green);
	color: var(--dark-text);
	text-align: end;
	padding: 0px 15px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}

/* ---------- Error Page ---------- */
.error-body{
	color: var(--light-text);
}

/* ---------- landscape phone ---------- 568px ---------- */
@media (min-width: 568px) {
	.register-form .form-label {
		min-width: 150px;
	}

	.form-control {
		min-width: 70%;
	}

}

/* ---------- Medium devices ---------- Tablets, 768px and Up ---------- */
@media (min-width: 768px) {
	/* ----------  Home page not logged in ---------- */
	
	.cta {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.smallcta {
		display: flex;
		flex-direction: column;
		width: 50%;
	}

	.largecta {
		height: 60vh;
	}
	
	.cta-right {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-right: 10%;
		margin-left: 40%;
	}
	
	.cta-left {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin-right: 40%;
		margin-left: 10%;
	}

	.cta-text{
		padding: 15px;
	}

	/* ---------- Task Card ---------- */
	.task {
		width: 100%;
		height: inherit;
	}

	.task-card {
		width: 98%;
		margin: 1%;
	}
	
	/* ---------- Account ---------- */
	.cat-card {
		width: 98%;
		margin: 1%;
	}
	
	/* ---------- Contact ---------- */
	.contact-title{
		width: 90%;
	}
	
	.contact-title .header{
		padding: 10px 0px;
	}
	
	.contact-text{
		padding: 0px 10px 10px 10px;
	}
	
	/* ---------- forms ---------- */
	.form-contents{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		max-height: 370px;
		width: 100%;
	}

	.form-field {
		padding: 10px 10px;
		width: 50%;
	}
	
	.cat .form-field {
		width: 100%;
	}

	.form-control {
		min-width: 70%;
	}
	
	.form-label {
		min-width: 20%;
	}

	.form-field.inline .form-label, .form-field.inline .form-control{
		width: 50%;
		min-width: auto;
	}

	#task_description {
		height: 150px;
	}
	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.large-screen{
		display: flex;
		border-bottom: solid 16px var(--background2);
	}

	.small-screen{
		display: none;
	}

	#main.no-user {
		margin: 75px 0px 0px 0px;
	}

	#main {
		margin: 75px 0px 90px 0px;
		min-height: calc(100vh - (75px + 90px))
	}

	.mobile-nav-bar {
		display: none;
	}

	/* ---------- nav bar ---------- */

	.desk-nav-bar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 10px 16px;
	}

	.desktop-nav ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		list-style: none;
		padding: 0px;
		margin: 0px;
	}

	.desktop-nav li {
		padding: 10px;
		background-color: var(--light-text);
		border-radius: 5px;
		margin: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
	}

	/* ---------- Main Page ---------- */

	.main-section {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 50%;
	}

	.toDo .main-section-content {
		border-left: solid 16px var(--background2);
		border-right: solid 16px var(--background2);
	}

	.doneSection .main-section-header {
		padding: 0px;
	}

	.doneSection .main-section-content {
		border-right: solid 16px var(--background2);
	}
	
	.main-section-header {
		display: flex;
		width: 100%;
		height: 30px;
		line-height: 30px;
		padding: 0px 16px;
	}
	
	.main-section-content {
		display: flex;
		width: 100%;
		background-color: var(--background);
		height: calc(100vh - (75px + 90px + 48px));
	}

	.task-list{
		display: flex;
		align-items: flex-start;
		width: 100%;
		height: 100%;
		overflow: scroll;
	}
	
	/* ---------- Account Page --------- */

	.section-content{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.section-task {
		display: flex;
		flex-wrap: wrap;
		height: auto;
		width: 100%;
	}

	.all-cats {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		height: auto;
	}

	.cat-card{
		width: 30%;
		height: 30px;
	}

	/* ---------- Task Card ---------- */
	.section-task .task-card {
		width: 48%;
	}

}

/* ---------- master categories ---------- */

.hidden {
	display: none;
}
