* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: sans-serif;
}

/* ---------- standard classes ---------- */

.col{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none;
}
.sticky {
	position: fixed;
	width: 100%;
}

.top {
	top: 0;
	background-color: aqua;
}

main {
	padding-top: 110px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 50px;
}

.bottom {
	bottom: 0;
}

a {
	text-decoration: none;
	color: black;
}

.flashes {
	top: 90px;
	text-align: center;
	background-color: pink;
}

/* ---------- nav bar ---------- */
.desk-nav-bar {
	display: none;
}

.mobile-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 16px;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

#burger-btn {
	height: 60px;
	width: 60px;
}

.burger {
	display: block;
	width: 100%;
	padding: 5px;
	background-color: gray;
	margin-bottom: 5px;
}

.burger ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.burger li {
	margin: 5px;
}

.burger ul li a {
	color: white;
	font-size: 25px;
}

/* ---------- Task Card ---------- */

.task-card{
    list-style: none;
    border-radius: 15px;
    padding: 10px 16px;
    margin: 5px 0px;
    background-color: yellowgreen;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.small{
    border-left: 5px solid green;
}

.medium{
    border-left: 5px solid Pink;
}

.large{
    border-left: 5px solid Blue;
}

/* Task Card Header */

.task-header{
    justify-content: space-between;
    padding: 5px 0px;
}

.check-box{
    margin-right: 5px;
}

.fa-exclamation-circle{
    margin: 0px 10px;
    font-size: large;
}

/* Task Card Body */

.task-body{
    justify-content: space-between;
}

.description{
    width: 100%;
    padding: 10px 0px;
}

/* Information row of task description */

.info{
    justify-content: space-between;
    padding: 0px 0px;
}

.due-date{
    text-align-last: right;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit{
    text-align: center;
}

/* Task size */

.task-size{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 60px;
    border: #000 1px solid;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.s-text{
    font-size: small;
    font-weight: 200;
    letter-spacing: 0.8px;
    line-height: 16px;
}

.m-text{
    font-size: normal;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 16px;
}

.l-text{
    font-size: large;
    font-weight: 800;
    letter-spacing: 1.2px;
    line-height: 16px;
}

/* ---------- footer ---------- */
.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 16px;
	background-color: fuchsia;
}

/* ---------- Medium devices ---------- Tablets, 768px and Up ---------- */
@media (min-width: 768px) {
	main {
		padding-top: 90px;
	}

	.mobile-nav-bar {
		display: none;
	}

	.flashes {
		top: 70px;
	}

	/* ---------- nav bar ---------- */

	.desk-nav-bar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 10px 16px;
	}

	.desktop-nav ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		list-style: none;
		padding: 0px;
		margin: 0px;
	}

	.desktop-nav li {
		padding: 10px;
		border: solid 1px black;
		border-radius: 5px;
		margin: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
	}
}
