{% extends "base.html" %}

{% block content %}

<div class='form-container'>
    <div class='form-title'>
        <h2>Edit Task </h2>
    </div>
    <div class='form'>
        {% if session.user %}
        <form action='{{ url_for("edit_task", task_id=task._id) }}' method='POST'>
            <div class="form-contents big-forms">
                {{ displayField(form.task_name, 'title', 'no') }}
                {{ displayField(form.task_description, 'task_description', 'no') }}
                {{ displayField(form.is_priority, 'none', 'yes') }}
                {{ displayField(form.due_date, 'due_date', 'no') }}
                {{ displayField(form.task_size, 'none', 'no', class='no-list select-size') }}
                <div class="cat">
                    {{ displayField(form.task_category, 'none', 'no') }}
                    <div class="cat add-cat">
                        <p>Add new category</p>
                    </div>
                </div>
                <div class="cat hidden">
                    {{ displayField(form.add_category, 'New Category', 'no') }}
                </div>
                {{ displayField(form.is_done, 'none', 'yes') }}
            </div>
            <div class="form-buttons">
                <div class='submit-button'>
                    <div class="btn">
                        {{ form.submit_button }}
                    </div>
                    <div class="btn">
                        {{ form.cancel_button }}
                    </div>
                </div>
            </div>
        
            <!-- this is security! do some research on this -->
            {{ form.csrf_token }} 
        
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}