{% extends 'base.html' %}

{% block content %}

<div class='container error-container'>
    <div class="error-inner">
        <div class='error-title'>
            <h2>Uh oh....</h2>
        </div>
        <div class='error-body'>
            <div class="error-gif">
                <img src="https://media.giphy.com/media/39wBF8ZtAwIXvDnI23/giphy.gif" alt="loonytoons_oh_on_gif">
            <div class="error-text">
                <p>
                    Something went wrong!
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}