{% macro displayField(fieldName, placeholderValue) %}

<div>
    <!-- Field Name -->
    <div>
        {{ fieldName.label }}
    </div>
    <div>
        <!-- Form Field -->
        {{ fieldName(class_='form-control', placeholder=placeholderValue, **kwargs) }}

        <!-- Error Messages -->
        <ul>
            {% for error in fieldName.errors %}
                <li>
                    {{ error }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endmacro %}