{% from "form_helper.html" import displayField with context %}

{% extends "base.html" %}

{% block content %}

    <h2>Log In</h2>

    <form action="{{ url_for('login') }}" method="POST">
        {{ displayField(form.username, 'username', autocomplete="off", autofocus=true) }}
        {{ displayField(form.password, 'password') }}
        <div>
            {{ form.submit_button }}
        </div>
    
        <!-- this is security! do some research on this -->
        {{ form.csrf_token }} 
    
    </form>

{% endblock %}